#beallitasok > p
{
    font-size: 5vw;
}

#beallitasok > *
{
    margin-bottom :2vw;
    font-size: 2vw;
}
#beallitasok
{
    text-align: center;
}
#szabalyok
{
    width: 20%;
    border: 1vw solid darkgreen;
    background-color: rgb(231,231,103);
    color:darkgreen;
    font-style: bold;
    font-size: 1.5vw;
    float: left;
}
#szabalyok > p
{
    font-size: 3vw;
}
body
{
    background-color:yellowgreen;
}

.quantikbutton
{
    background-color: rgb(231,231,103);
    border-width: 1vw;
    border-color: darkgreen;
    border-style:solid;
    border-radius: 10%;
    padding: 1vw 4vw;
    text-align: center;
    color:darkgreen;
    font-size: 2vw;
}

